<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="app.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/12b48f82b3.js"></script>
</head>
<body>
	<!-- Navbar -->	
	<div class="container-fluid">	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		
	 		 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	 		 </button>
	 		 <a class="navbar-brand" href="#" onclick="reset();">SquareApp<i class="fas fa-square-full"></i></a>
		
	</nav>
	</div>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-lg-12">
				<div class= "outer-div" id="outer">
<!-- 
					<div class="img" id="myimage"> -->
						<div class = "layer" id="content">
							
								<h1 id="h1">Square Your Photos.</h1>
								<h4 id="h1">Give your photos a squared frame without cropping.</h4><br/>
							<form  class ="form" action="/" method="post" enctype="multipart/form-data">
								<input class="select" type="file" name="uploadImg" multiple accept="image/*"/>	
								<input class="ubutton" type ="submit" name="Upload" value="Upload"/>
						</div>	
					<div class="inner-div" id="inner"></div>
				</div>	
		</div>
	  </div>
	</div>	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>