.outer-div
{
     position: relative;
     height: 600px;
     overflow: hidden; 
}
.inner-div
{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 0.7s ease;
     background-image: url('test.jpg');
}

.layer
{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height:100%;
	text-align: center;
     padding: 200px 23px 20px 23px;
     font: 14px/1.3 'Source Code Pro', monospace;
    
     letter-spacing: 1px; 
     color: #fff;
     border-radius: 1px 1px 0 0;
     z-index: 100;     
}

a.navbar-brand{
	
	margin-right: 780px;
	
}

.nav-item{
	font-size: 12.5px;
	font-weight: bold;
	padding-left: 6px;
	text-align:left;
	width:20px;
}

.btn-lg{
	border-radius: 0px;
	margin-top: 1%;
	background-color: rgba(255,255,255,0.85);
}


.navbar-light .navbar-brand:hover{

		-webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition-duration: .2s;
		
}

.btn-lg:hover{

	background-color: black;
	color: rgba(255,255,255,0.85);
	transition-duration: .3s;
}

i{
	padding-left: 4px;
}

.select{
	text-align: center;
	padding-left: 5px;
	padding-top: 50px;
	cursor: pointer;
	width: 230px;
}